/* :where() has zero specificity; this allows overriding this rule with
solid-styled-components styles, which have non-deterministic load order. */
:where(.block) {
  padding: 10px;
  padding-left: 15px;
  margin-bottom: 5px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.035);
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.04);
}

.block {
  &.clickable {
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

.settingsBlock {
  display: flex;
  align-items: center;
  min-height: 40px;
}

.group > .block {
  &:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
  }
  &:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 1px;
  }
}

.outerContainer {
  display: flex;
  align-items: center;
  flex: 1;
  flex-shrink: 0;
}
.details {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 15px;
  gap: 3px;
}

.label {
  font-size: 14px;
}

.description {
  opacity: 0.6;
  font-size: 12px;
}

.icon {
  width: 24px;
  height: 24px;
}
