:global body.disableBlur {
  :local {
    .drawerHeaderContainer {
      background-color: var(--header-background-color-blur-disabled);
      backdrop-filter: none;
    }
  }
}

.drawerHeaderContainer {
  position: sticky;
  z-index: 111111;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: var(--header-height);
  box-sizing: border-box;
  padding: 8px 12px;
  margin-bottom: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  background-color: var(--side-pane-color);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  user-select: none;
  transition: 0.2s;
}

.text {
  margin-left: 4px;
  font-size: 16px;
  font-weight: 600;
}
